!!! 5
%html
  %head
    %title What Municipality?
    %link{rel: 'stylesheet', href: 'wat.css'}
  %body
    %h1 What Municipality?
    %p What municipality in Miami-Dade County are you even in?
    %p#municipality Enable geolocation to find out
    %script{type: 'text/javascript', src: 'jquery-2.2.4.min.js'}
    %script{type: 'text/javascript', src: 'what.js'}
